*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow-x: hidden;
}
.continer{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* start parent */
.parent{
    background-image:linear-gradient(to right,transparent 1%,black 97%),url(photo/photo_2023-10-14_15-10-11.jpg);
    background-size: cover;
    /* min-height: 100vh; */
    position: relative;
}
.parent .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.parent .content .image {
    margin-top: 20px;
    text-align: center;
}
.parent .content .image img{
    width: 90%;
    animation:  move 10s linear infinite;
}
@keyframes move {
    0%{
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
    }
    
}
.parent .content .text h1{
    color: white;
    font-weight: bold;
    margin-left: 20px;
}
.parent .content .text p{
    color: white;
    font-weight: bold;
    line-height: 1.4;
    margin-left: 20px;
}
.parent .content .text a{
    text-decoration: none;
    font-weight: bold;
    background-color: #FEA116;
    padding: 20px;
    display: block;
    margin-top: 30px;
    width: fit-content;
    color: white;
    margin-left: 20px;
    transition: 0.2s;
    border-radius: 10px;
}
.parent .content .text a:hover{
    background-color: black;
    color: white;
}
@media (max-width:767px) {
    .parent{
        padding-bottom: 20px;
    }
    .parent .content{
        margin-top: 20px;
    }
    .parent .content{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .parent .content .image{
        margin: 10px auto;
    }
    .parent .content .image img{
        width: 80%;
    }
    
}
/* end parent */
/* start about */
.about{
    margin-top: 30px;
}
.about .continer{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    line-height: 2;
}
.about .continer .box{
    background-color: #ddd;
    padding: 15px;
    transition: 0.3s;
    border-radius: 10px;
}
.about .continer .box:hover{
    background-color: #FEA116;
    cursor: pointer;
}
.about .continer .box:hover i{
    color: white !important;
}
.about .continer .box i{
    font-size: 25px;
}
/* end about */
/* start info */
.info{
    margin-top: 50px;
}
.info .continer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info .continer .image{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;

}
.info .continer .image img{
    width: 40%;
}

.info .continer .text{
    line-height: 2;
    margin-left: 0px;
}
.info .continer .text h2{
    color: black;
    font-weight: bold;
}
.info .continer .text h2 i{
    margin-right: 5px;
    margin-left: 5px;
}
.info .continer .text p{
    color: #777;
}
.info .continer .text .info{
    display: flex;
    justify-content: space-between;
}
.info .continer .text .info .box{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: white;
    padding: 10px;
    width: 50%;
    margin: 10px;
    border-left:  solid 4px #FEA116;
}
.info .continer .text hr{
    width: 10%;
    border:  solid 3px #FEA116;
    border-radius: 20px;

}
.info .continer .text .box h1{
    color: #FEA116;
}
.info .continer .text .box h3{
    color: black;
}
.info .continer .text a{
    text-decoration: none;
    font-weight: bold;
    background-color: #FEA116;
    padding: 20px;
    display: block;
    margin-top: 30px;
    width: fit-content;
    color: white;
    margin-left: 20px;
    transition: 0.2s;
    border-radius: 10px;
}
.info .continer .text a:hover{
    background-color: black;
    color: white;
}
@media (max-width:767px) {
    .info .continer .image{
        grid-template-rows: 200px;
    }
    .info .continer .image img{
        width: 100%;
    }
    .info .continer{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .info .continer .text .info{
        flex-wrap: wrap;
        flex-direction: row;
    }
    
}
/* end info */
/* start menu */
.menu{
    margin-top: 60px;
}
.menu .continer{
    text-align: center;
    line-height: 1.5;
}
.menu .continer hr{
    width: 10%;
    border:  solid 3px #FEA116;
    border-radius: 20px;
    margin: 10px auto;

}
.menu .content{
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}
@media (max-width:767px) {
    .menu .content{
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 3px;
        margin: 5px;
    }
    
}
.menu .content .box{
    display: flex;
    position: relative;
}
.menu .content .box::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #FEA116;
    bottom: 0;
    left: 20px;
    transition: 0.3s;
    cursor: pointer;
}
.menu .content .box:hover::after{
    width: 100%;
    cursor: pointer;
}
.menu .content .box i{
    font-size: 30px;
    vertical-align: middle;
    margin-right: 20px;
    margin-top: 10px;
}
.menu .list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 40px;
    margin-top: 30px;
    margin: 20px;
}
.menu .list .image img{
    width: 70%;
}
.menu .list .box{
    display: flex;
    background-color: white;
    transition: 0.3s;
}
.menu .list .box:hover{
    background-color: #FEA116;
}
.menu .box:hover h3{
    color: white !important;
}
.menu .list .box .text{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.menu .list .box .text h3{
    color: #FEA116;
    font-weight: bold;
    margin:10px;
}
@media (max-width:767px) {
    .menu .list{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap: 40px;
        margin-top: 30px;
        margin: 20px;
    }
    .menu .list .box .text{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
}

/* end menu */
/* start contact */
.contact{
    margin-top: 10px;
    background-color: rgb(15, 23, 43);
}
.contact .continer{
    display: flex;
    justify-content: space-between;
}
.contact .continer .text h2{
    color: #FEA116;
}
.contact .continer .text h1{
    color: white;
}
.contact .continer .text {
    line-height: 2;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 10px;
}
.contact .continer .text hr{
    width: 10%;
    border:  solid 3px #FEA116;
    border-radius: 20px;
}
.contact .continer .text input{
    display: block;
    width: 90%;
    padding: 15px;
    margin: 10px;
}
.contact .continer .text textarea{
    display: block;
    width: 90%;
    padding: 15px;
    margin: 10px;
}
.contact .continer .text button{
    display: block;
    width: 90%;
    padding: 15px;
    margin: 10px;
    background-color: #FEA116;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
@media (max-width:991px) {
    .contact .continer{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .contact .continer .image img{
        width: 100%;
        padding: 5px;
    }
    .contact .continer .text input{
        display: block;
        width: 95%;
        padding: 15px;
        margin: 10px;
    }
    .contact .continer .text textarea{
        display: block;
        width: 95%;
        padding: 15px;
        margin: 10px;
    }
    .contact .continer .text button{
        display: block;
        width: 95%;
        padding: 15px;
        margin: 10px;
        background-color: #FEA116;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }
    
}
/* end contact */
/* start team */
.team{
    margin-top: 20px;
}
.team .continer{
        text-align: center;
}
.team .continer h2{
    color: #FEA116;
    font-weight: bold;
}
.team .continer hr{
    width: 10%;
    border:  solid 3px #FEA116;
    border-radius: 20px;
    margin: 10px auto;

}
.team .content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    text-align: center;
    line-height: 2;
    margin: 20px;
}
.team .content .box{
    background-color: #ddd;
    position: relative;
    border-radius: 10px;
}
.team .content .box::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: white;
    transition: 0.4s;
}
.team .content .box:hover::before{
    opacity: 0.3;
    width: 100%;
}
.team .content .box img{
    width: 90%;
    border-radius: 50%;
}
@media (max-width:767px) {
    .team .content{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        gap: 20px;
        text-align: center;
        line-height: 2;
        margin: 20px;
    }
    
}
/* end team */
/* strat test */
.test{
    margin-top: 50px;
}
.test .continer{
        text-align: center;
}
.test .continer h2{
    color: #FEA116;
    font-weight: bold;
}
.test .continer hr{
    width: 10%;
    border:  solid 3px #FEA116;
    border-radius: 20px;
    margin: 10px auto;

}
.test .content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 20px;
    line-height: 2;
    margin: 20px;

}
.team .content .box{
    border-radius: 10px;
}
.test .content .box .info{
    display: flex;
    justify-content: flex-start;

margin: 5px;
}
.test .content .box .image img{
    border-radius: 50%;
    margin-right: 10px;
}
.test .content .box{
    background-color: #ddd;
    padding: 10px;
    transition: 0.3s;
    border-radius: 10px;
}
.test .content .box:nth-child(2){
    background-color: #FEA116;
}
.test .content .box:hover{
    background-color: #FEA116;
}
.test .end ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 50px;

}
.test .end ul li{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    margin-left: 3px;
}
.test .end ul li.active{
    background-color: #FEA116;
}
@media (max-width:767px) {
    .test .content{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        gap: 20px;
        line-height: 2;
        margin: 20px;
    
    }
   
    
}
/* end test */
/* start footer */
.footer
{
    background-color: black;
    margin-top: 50px;
    padding-bottom: 50px;
}
ul{
    list-style: none;
}
.footer .continer{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
    color: white;
    line-height: 2;
}
.footer .continer .box i{
    margin-right: 5px;
}
.footer .continer .box h2{
    color: #FEA116 !important;
    font-style: italic;
}
.footer .continer .box input{
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.footer .continer .box button{
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    background-color: #FEA116;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.footer .cont{
    color: white;
    text-align: center;
    line-height: 2;
    margin-top: 40px;
}
.footer .cont hr{
    width: 20%;
    margin: 20px auto;
}
/* end footer */